$primary: #CF3247;
$primary-dark: #a82839;
$secondary: #fbc02d;
$secondary-light: #fff59d;
$dark: #333333;
$light: #ffffff;
$bg-light: #faf9f6;
$bg-gray: #f4f4f4;

$font-heading: 'Philosopher', serif;
$font-body: 'Sen', sans-serif;

$text-color: #6A6A6A;
$heading-color: #000000;

$footer-bg:#221F1F;

$transition: all 0.3s ease;
$shadow: 0 4px 12px rgba(0,0,0,0.08);
$border-radius: 50px;
$mobile-breakpoint: 992px;
